@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?cacde4');
  src:url('../fonts/icomoon/icomoon.eot?#iefixcacde4') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?cacde4') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?cacde4') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?cacde4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fusiona-"], [class*=" fusiona-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fusiona-logo:before {
  content: "\e639";
}
.fusiona-footer:before {
  content: "\e637";
}
.fusiona-page_title:before {
  content: "\e636";
}
.fusiona-loop-alt2:before {
  content: "\e62e";
}
.fusiona-anchor:before {
  content: "\e62f";
}
.fusiona-columns:before {
  content: "\e600";
}
.fusiona-file-alt:before {
  content: "\e601";
}
.fusiona-copy:before {
  content: "\e602";
}
.fusiona-exclamation-sign:before {
  content: "\e603";
}
.fusiona-blog:before {
  content: "\e604";
}
.fusiona-check-empty:before {
  content: "\e605";
}
.fusiona-list-ul:before {
  content: "\e606";
}
.fusiona-users:before {
  content: "\e612";
}
.fusiona-newspaper:before {
  content: "\e613";
}
.fusiona-clock:before {
  content: "\e614";
}
.fusiona-browser:before {
  content: "\e615";
}
.fusiona-d:before {
  content: "\e61d";
}
.fusiona-air:before {
  content: "\e616";
}
.fusiona-map:before {
  content: "\e617";
}
.fusiona-flag:before {
  content: "\e608";
}
.fusiona-move-horizontal:before {
  content: "\e61e";
}
.fusiona-uniF6CC:before {
  content: "\e61f";
}
.fusiona-image:before {
  content: "\e620";
}
.fusiona-images:before {
  content: "\e621";
}
.fusiona-uniF602:before {
  content: "\e622";
}
.fusiona-stack:before {
  content: "\e623";
}
.fusiona-user:before {
  content: "\e618";
}
.fusiona-dollar:before {
  content: "\e609";
}
.fusiona-tasks:before {
  content: "\e60a";
}
.fusiona-feather:before {
  content: "\e619";
}
.fusiona-uniF61C:before {
  content: "\e624";
}
.fusiona-insertpicture:before {
  content: "\e625";
}
.fusiona-link:before {
  content: "\e61b";
}
.fusiona-soundcloud:before {
  content: "\e61c";
}
.fusiona-table:before {
  content: "\e60b";
}
.fusiona-folder:before {
  content: "\e62b";
}
.fusiona-list-alt:before {
  content: "\e60c";
}
.fusiona-bubbles:before {
  content: "\e626";
}
.fusiona-font:before {
  content: "\e627";
}
.fusiona-H:before {
  content: "\e628";
}
.fusiona-expand-alt:before {
  content: "\e60d";
}
.fusiona-hand-up:before {
  content: "\e60e";
}
.fusiona-film:before {
  content: "\e60f";
}
.fusiona-star-empty:before {
  content: "\e610";
}
.fusiona-shopping-cart:before {
  content: "\e611";
}
.fusiona-share2:before {
  content: "\e629";
}
.fusiona-layers-alt:before {
  content: "\e62a";
}
.fusiona-minus:before {
  content: "\e61a";
}
.fusiona-TFicon:before {
  content: "\e62d";
}
.fusiona-youtube:before {
  content: "\e607";
}
.fusiona-vimeo2:before {
  content: "\e62c";
}
.fusiona-sidebar:before {
  content: "\e634";
}
.fusiona-header:before {
  content: "\e635";
}
.fusiona-tag:before {
  content: "\e632";
}
.fusiona-pointer:before {
  content: "\e630";
}
.fusiona-external-link:before {
  content: "\f08e";
}
.fusiona-external-link-square:before {
  content: "\f14c";
}
.fusiona-file:before {
  content: "\e633";
}
.fusiona-ellipsis:before {
  content: "\e631";
}
.fusiona-tools:before {
  content: "\e63b";
}
.fusiona-pin-outline:before {
  content: "\e63f";
}
.fusiona-sitewidth:before {
  content: "\e63a";
}
.fusiona-search:before {
  content: "\f002";
}
.fusiona-envelope-o:before {
  content: "\f003";
}
.fusiona-plus:before {
  content: "\f067";
}
.fusiona-plus2:before {
  content: "\e645";
  font-size:12px;
}
.fusiona-socialmedia:before {
  content: "\f08a";
}
.fusiona-menu:before {
  content: "\f0c9";
}
.fusiona-code:before {
  content: "\f121";
}
.fusiona-css3:before {
  content: "\f13c";
}
.fusiona-equalizer:before {
  content: "\e638";
}
.fusiona-loop:before {
  content: "\e63c";
}
.fusiona-droplet:before {
  content: "\e63d";
}
.fusiona-drive:before {
  content: "\e63e";
}
.fusiona-pen:before {
  content: "\e640";
}
.fusiona-file-add:before {
  content: "\e641";
}
.fusiona-trash-o:before {
  content: "\f014";
}
.fusiona-reply:before {
  content: "\e642";
}
.fusiona-forward:before {
  content: "\e643";
}

#poststuff .pyre_metabox h2{margin-top:30px;padding-left:0px;padding-right:0px;}

#of_container .controls .wp-picker-container .wp-color-result { outline: 0; margin-bottom: 11px; }
#of_container .controls .wp-picker-container .wp-color-result:focus{ outline: 0; }

#section-status_revslider .controls,
#section-post_type_order .controls { display: none; }

.hide-if-no-js a img{max-width:100%;}

.form-field-checkbox input[type=checkbox] {
  width: 16px !important;
}

.form-field-checkbox .description {
  display: inline-block !important;
}

.pyre_metabox_field textarea {
  max-width: 100%;
}

.post-type-slide #slide-page-add-toggle,
.post-type-slide #sbg-sortables {
  display: none;
}

#pyre_page_options .inside, #pyre_post_options .inside,
#pyre_portfolio_options .inside, #pyre_woocommerce_options .inside,
#pyre_slide_options .inside,
#pyre_events_calendar_options .inside {
  padding: 0;
  margin: 0;
}

#pyre_slide_options .pyre_metabox {
  width: 100%;
}

.pyre_metabox_tabs {
  margin: 0;
  padding: 0;
  width: 17%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5f5f5;
}

.rtl .pyre_metabox_tabs {
  float: right;
}

.pyre_metabox_tabs li {
  margin: 0;
  padding: 0;
}

.pyre_metabox_tabs li a {
  display: block;
  font-size: 13px;
  color: #222222;
  text-decoration: none;
  padding: 13px;
  border-bottom: 1px solid #e2dddb;
  border-right: 1px solid #e2dddb;
  word-wrap: break-word;
}

.pyre_metabox_tabs li.active a, .pyre_metabox_tabs li a:hover {
  background-color: #fff;
  border-right-color: transparent;
}

.pyre_metabox {
  width: 83%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 10px;
}

.rtl .pyre_metabox {
  float: right;
}

.pyre_metabox_field {
  border-bottom: 1px solid #fafafa;
  padding-top: 14px;
  padding-bottom: 14px;
}

.pyre_metabox_tab .pyre_metabox_field:first-child {
  padding-top: 0px;
}

.pyre_metabox_tab {
  display: none;
}

.pyre_metabox_tab.active {
  display: block;
}

.pyre_desc {
  width: 45%;
  float: left;
}

#poststuff .pyre_metabox h3 {
  margin: 10px 0 5px 0;
  padding-left: 0 !important;
  font-size: 17px !important;
  color: #b5b4b4;
}

.pyre_desc label {
  font-size: 13px;
  color: #222222;
}

.pyre_desc p {
  margin: 0;
  margin-top: 8px;
  color: #939393;
  font-size: 12px;
}

.pyre_field {
  width: 50%;
  float: right;
}

.pyre_field input[type=text],.pyre_field select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #d6d6d6 !important;
  color: #333333;
  font-size: 13px;
  padding: 7px 15px;
}

.pyre_metabox_field {
  overflow: hidden;
}

.pyre_field {
  position: relative;
}

.pyre_field .fusion-shortcodes-arrow {
  background: #fff;
  width: 35px;
  height: 32px;
  border-left: 1px solid #d9d9d9;
  position: absolute; top: 1px; right: 1px;
  pointer-events: none;
  z-index: 10;
  font-family: 'FontAwesome';
  text-align: center;
  line-height: 32px;
}

.rtl .pyre_field .fusion-shortcodes-arrow {
  right: auto;
  left: 1px;
  border-left: 0;
  border-right: 1px solid #d9d9d9;
}

.pyre_field select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  -o-box-sizing: none;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 13px;
  outline: none;
  height: auto;
  overflow: ellipsis;
  padding: 7px 15px;
  position: relative;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-text-overflow: none;
  -moz-text-overflow: none;
  -o-text-overflow: none;
  vertical-align: middle;
  z-index: 5;
  margin: 0;
}

.pyre_field textarea {
  margin: 0;
}

#pyre_tab_pagetitlebar #pyre_page_title_custom_text,
#pyre_tab_pagetitlebar #pyre_page_title_custom_subheader {
  padding: 7px 15px;
  resize: none;
}

.pyre_metabox_tabs a {
}
.pyre_metabox_tabs a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}

.pyre_metabox_tabs a[href^="sliders"]:before {
  content: "\e624";
}

.pyre_metabox_tabs a[href^="page"]:before {
  content: "\e633";
}

.pyre_metabox_tabs a[href^="header"]:before {
  content: "\e635";
}

.pyre_metabox_tabs a[href^="footer"]:before {
  content: "\e637";
}

.pyre_metabox_tabs a[href^="sidebar"]:before {
  content: "\e634";
}

.pyre_metabox_tabs a[href^="background"]:before {
  content: "\e620";
}

.pyre_metabox_tabs a[href^="portfolio"]:before {
  content: "\e625";
}

.pyre_metabox_tabs a[href^="pagetitlebar"]:before {
  content: "\e636";
}

.pyre_metabox_tabs a[href^="post"]:before {
  content: "\e619";
}

.pyre_upload {
  display: table;
  width: 100%;
}

.upload_field {
  display: table-cell;
  width: auto;
}

.fusion_upload_button_container {
  display: table-cell;
  width: 95px;
}

.fusion_upload_button {
  margin: 0 0 0 5px;
  height: 34px;
  width: 90px;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c7c5c5;
  color: #333333;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* Dashboard Widget */
#themefusion_news .rss-widget {
    border-bottom: 1px solid #eee;
    font-size: 13px;
    padding: 8px 12px 10px;
}
#themefusion_news .rss-widget:last-child {
    border-bottom: medium none;
    padding-bottom: 8px;
}
#themefusion_news .rss-widget span.rss-date {
    margin-left: 12px;
}
#themefusion_news .rss-widget:nth-of-type(2) ul li:first-child {
	display: none;
}

/* TGMPA Install/Update Page */
.wrap.tgmpa .subsubsub {
	display: none;
}

/* TGMPA Notices */
#setting-error-tgmpa {
	padding: 10px 38px 10px 20px;
}

#setting-error-tgmpa .fusion-update-heading {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    color: #dc3232;
}

#setting-error-tgmpa .fusion-update-heading > em {
	font-style: normal;
}

#setting-error-tgmpa > p > strong > span:nth-of-type(2) {
	margin-top: 0 !important;
}

/* Slider Fields */
.fusion-double-fields { overflow: hidden; }
.fusion-double-fields .fusion-field { width: 49%; float: left; }
