.dashicons.dashicons-admin-network.avada-icon-key {
	line-height: 30px;
	height: 30px;
	margin-right: 10px;
}
.avada-registration-form input {
	padding: 10px 15px;
	width: 30%;
	margin-bottom: 20px;
	margin-right: 20px;
}