.avadaredux-info-field {
    min-height: 20px;
    padding: 8px 19px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
    border: 1px solid;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-bottom: 0 !important;
    }

    h3 {
        color: #777;
    }

    .avadaredux-info-icon {
        display: inline-block;
        margin-right: 15px;

        i {
            font-size: 2em;
        }
    }

    .avadaredux-info-desc {
        display: inline-block;
        vertical-align: top;
    }

    &.avadaredux-normal {
        background-color: #eeeeee;
        border-color: #cccccc;
        color: #666666;

        i {
            color: #c5c5c5;
        }
    }

    &.avadaredux-warning {
        background-color: #fbeba4;
        border-color: #d7c281;
        color: #958234;

        i {
            color: #dcca81;
        }
    }

    &.avadaredux-success {
        background-color: #c4ee91;
        border-color: #71af5d;
        color: #4d7615;

        i {
            color: #a0ca6c;
        }
    }

    &.avadaredux-critical {
        background-color: #fba1a3;
        border-color: #b84f5b;
        color: #981225;

        i {
            color: #dd767d;
        }
    }

    &.avadaredux-info {
        background-color: #d3e4f4;
        border-color: #a9b6c2;
        color: #5c80a1;

        i {
            color: #afc6da;
        }
    }
}

.avadaredux-notice-field {
    margin: 15px 0 0;
    background-color: #fff;
    border: 0;
    border-left: 4px solid #f3f3f3;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 1px 12px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-bottom: 0 !important;
    }

    p {
        margin: .5em 0;
        padding: 2px;
    }

    .avadaredux-info-icon {
        display: inline-block;
        margin-right: 15px;

        i {
            font-size: 2em;
        }
    }

    .avadaredux-info-desc {
        display: inline-block;
        vertical-align: top;
    }

    &.avadaredux-info {
        border-left: 4px solid #0099d5;
    }

    &.avadaredux-success {
        border-left: 4px solid #7ad03a;
    }

    &.avadaredux-warning {
        border-left: 4px solid #fbeba4;
    }

    &.avadaredux-critical {
        border-left: 4px solid #dd3d36;
    }
}

.avadaredux-main .avadaredux-field-container.avadaredux-container-info {
    padding: 0;
}

.wp-customizer {
    .hasIcon.avadaredux-notice-field, .hasIcon.avadaredux-info-field {
        .avadaredux-info-desc {
            display: block;
            margin-left: 43px;
        }
        .avadaredux-info-icon {
            float: left;
        }
    }
    .avadaredux-main .customize-control.customize-control-avadaredux-info {
        border-bottom: 0;
    }
}
